<%@ page import ="br.com.simcard.Upload" %>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>SIM Cards</title>
</head>
<style type=text/css>
.canto {
	top: 15px;
} 
</style>
<body> 
	<input type="file" name="arquivo" id="arquivo" />

	<script>
		alert(document.getElementById('arquivo').value);

		var pathname = window.location.pathname; // Retorna só o path
		var url      = window.location.href;     // Retorna a url completa
		console.log(pathname);
	</script>
</body>
</html>
